//Colores
$color-white :rgb(255,255,255);
$color-black :rgb(0,0,0);
$color-red :rgb(255,0,0);
$color-blue :rgb(0,0,255);
$color-green :rgb(0,255,0);

$color-red-231:rgb(231, 80, 80);
$color-red-199:rgb(199, 75, 75);

$color-blue-233:rgb(233,239,254);
$color-blue-131:rgb(131,113,240);
$color-blue-147:rgb(147,152,246);
$color-blue-95:rgb(95, 83, 165);
$color-blue-72:rgb(72,70,99);
$color-blue-67:rgb(67, 149, 219);

$color-green-78:rgb(78, 189, 68);
$color-green-70:rgb(70,186,82);
$color-green-69:rgb(69, 167, 60);

$color-gray-245:rgb(245, 246, 250);
$color-gray-240:rgb(240, 243, 242);
$color-gray-238:rgb(238,247,244);
$color-gray-222:rgb(222,222,223);
$color-gray-218:rgb(218,218,222);
$color-gray-211:rgb(211,213,212);
$color-gray-201:rgb(201,214,200);
$color-gray-183:rgb(183,182,187);
$color-gray-166:rgb(166,172,165);
$color-gray-121:rgb(121,123,119);
$color-gray-59:rgb(59, 59, 59);
$color-gray-54:rgb(54, 54, 54);
$color-gray-52:rgb(52, 54, 51);
$color-gray-44:rgb(44,44,44);
$color-gray-46:rgb(46,46,46);
$color-gray-73:rgba(73, 72, 72, 0.548);

//funciones
@mixin display-flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}
